@inherits LayoutComponentBase

<RadzenDialog/>
<RadzenNotification />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <p style="margin-top:auto"><b>Mohammad Mahdi Abdollahpour</b></p>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
